In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

Loading stuff

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

reading the html file

In [4]:
soup = BeautifulSoup(source, 'lxml')

running soup

In [7]:
#print(soup.prettify())

Looking into the soup output

In [5]:
res = []

creating empty dataframe

In [6]:
table = soup.find('table')

extracting the table

In [10]:
#print(table)

viewing the table

In [7]:
table_rows = table.find_all('tr')

getting the rows of the table

In [12]:
#print(table_rows)

viewing the rows

In [8]:
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)

putting the rows into the dataframe

In [9]:
df = pd.DataFrame(res, columns=["PostalCode", "Borough", "Neighborhood"])

name the colums

In [15]:
#print(df)

viewing the output

In [10]:
dfb = df[df.Borough != 'Not assigned']

In [16]:
#print(dfb)

Removing the 'Not assigned' Borough

In [11]:
dfc = dfb.groupby(['PostalCode','Borough']).agg(', '.join)

Grouping everything by PostalCode and Borough and aggregating the Neighborhoods

In [12]:
print(dfc)

                                                                  Neighborhood
PostalCode Borough
M1B        Scarborough                                          Rouge, Malvern
M1C        Scarborough                  Highland Creek, Rouge Hill, Port Union
M1E        Scarborough                       Guildwood, Morningside, West Hill
M1G        Scarborough                                                  Woburn
M1H        Scarborough                                               Cedarbrae
M1J        Scarborough                                     Scarborough Village
M1K        Scarborough             East Birchmount Park, Ionview, Kennedy Park
M1L        Scarborough                         Clairlea, Golden Mile, Oakridge
M1M        Scarborough         Cliffcrest, Cliffside, Scarborough Village West
M1N        Scarborough                             Birch Cliff, Cliffside West
M1P        Scarborough       Dorset Park, Scarborough Town Centre, Wexford ...
M1R        Scarborough                                       Maryvale, Wexford
M1S        Scarborough                                               Agincourt
M1T        Scarborough                 Clarks Corners, Sullivan, Tam O'Shanter
M1V        Scarborough       Agincourt North, L'Amoreaux East, Milliken, St...
M1W        Scarborough                                         L'Amoreaux West
M1X        Scarborough                                             Upper Rouge
M2H        North York                                        Hillcrest Village
M2J        North York                             Fairview, Henry Farm, Oriole
M2K        North York                                          Bayview Village
M2L        North York                                 Silver Hills, York Mills
M2M        North York                                  Newtonbrook, Willowdale
M2N        North York                                         Willowdale South
M2P        North York                                          York Mills West
M2R        North York                                          Willowdale West
M3A        North York                                                Parkwoods
M3B        North York                                          Don Mills North
M3C        North York                         Flemingdon Park, Don Mills South
M3H        North York          Bathurst Manor, Downsview North, Wilson Heights
M3J        North York                          Northwood Park, York University
...                                                                        ...
M6C        York                                             Humewood-Cedarvale
M6E        York                                            Caledonia-Fairbanks
M6G        Downtown Toronto                                           Christie
M6H        West Toronto                           Dovercourt Village, Dufferin
M6J        West Toronto                               Little Portugal, Trinity
M6K        West Toronto           Brockton, Exhibition Place, Parkdale Village
M6L        North York                       Downsview, North Park, Upwood Park
M6M        York                 Del Ray, Keelesdale, Mount Dennis, Silverthorn
M6N        York                                  The Junction North, Runnymede
M6P        West Toronto                          High Park, The Junction South
M6R        West Toronto                                 Parkdale, Roncesvalles
M6S        West Toronto                                     Runnymede, Swansea
M7A        Queen's Park                                           Not assigned
M7R        Mississauga                   Canada Post Gateway Processing Centre
M7Y        East Toronto      Business Reply Mail Processing Centre 969 Eastern
M8V        Etobicoke              Humber Bay Shores, Mimico South, New Toronto
M8W        Etobicoke                                    Alderwood, Long Branch
M8X        Etobicoke             The Kingsway, Montgomery Road, Old Mill North
M8Y        Etobicoke         Humber Bay, King's Mill Park, Kingsway Park So...
M8Z        Etobicoke         Kingsway Park South West, Mimico NW, The Queen...
M9A        Etobicoke                                          Islington Avenue
M9B        Etobicoke         Cloverdale, Islington, Martin Grove, Princess ...
M9C        Etobicoke         Bloordale Gardens, Eringate, Markland Wood, Ol...
M9L        North York                                            Humber Summit
M9M        North York                                         Emery, Humberlea
M9N        York                                                         Weston
M9P        Etobicoke                                                 Westmount
M9R        Etobicoke         Kingsview Village, Martin Grove Gardens, Richv...
M9V        Etobicoke         Albion Gardens, Beaumond Heights, Humbergate, ...
M9W        Etobicoke                                                 Northwest

[103 rows x 1 columns]

In [13]:
dfc.shape

(103, 1)

In [14]:
data = pd.read_csv("https://cocl.us/Geospatial_data")

In [15]:
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [19]:
datab = data.rename(columns={'Postal Code':'PostalCode'})

In [21]:
datab.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [22]:
dfc.head()

                                                  Neighborhood
PostalCode Borough
M1B        Scarborough                          Rouge, Malvern
M1C        Scarborough  Highland Creek, Rouge Hill, Port Union
M1E        Scarborough       Guildwood, Morningside, West Hill
M1G        Scarborough                                  Woburn
M1H        Scarborough                               Cedarbrae

In [23]:
dfd = pd.merge(dfc, datab, on='PostalCode')

In [24]:
dfd.head()

  PostalCode                            Neighborhood   Latitude  Longitude
0        M1B                          Rouge, Malvern  43.806686 -79.194353
1        M1C  Highland Creek, Rouge Hill, Port Union  43.784535 -79.160497
2        M1E       Guildwood, Morningside, West Hill  43.763573 -79.188711
3        M1G                                  Woburn  43.770992 -79.216917
4        M1H                               Cedarbrae  43.773136 -79.239476

In [25]:
dfd.shape

(103, 4)